@{
    ViewBag.Title = "Contact Me!";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    P.O. Box 391<br />
    Tacoma, WA 98402<br />
    <abbr title="Phone">P:</abbr>
    253.632.4660
</address>